.badge{
    background-color: tomato;
    height : 25px;
    width : 25px; 
    border-radius: 50%;
    display : flex;
    justify-content: center;
    align-items: center; 
    /*요소가 1하나 이므로 content가 아닌 items 사용 필요*/
    color : white;
    font-weight: 600;
}

.notif{
    background-color: tomato;
    height : 5px;
    width : 5px; 
    border-radius: 50%;
    display : flex;
    justify-content: center;
    align-content: center;
}