.icon-row{
    display : flex;
    flex-wrap: wrap;/* 줄이 넘어갈 수 있게 함 */
    margin-top : 15px;
}
.icon-row_icons{
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 25%;
    margin : 15px 0;

    position : relative;
}
.icon-row_icons i{
    padding : 15px;
}
.top-bar_notif-more-more{
    position: absolute;
    left : 85px; 
    bottom : 15px;
    /*이 부분 해결 필요*/
}

.icon-row_icons img{
    width : 60px;
    height: 60px;

    border-radius: 10%;
}