.top-bar{
    display : flex;
    margin : 35px 15px;
    justify-content: space-between;
    align-items: center; /*content아니고 items*/
}
.top-bar span{
    font-size : 25px;
    font-weight: 700;
}
.top-bar i{
    padding : 0 5px;
}


.top-bar_icon{
    position : relative;
}
.top-bar_notif-find{
    position: absolute;
    left : 75px; 
    bottom : 35px;
}
.top-bar_notif-more{
    position: absolute;
    left : 105px; 
    bottom : 35px;
}

.top-bar_icon a {
    display: inline-block;
    /*i 간의 간격조정필요*/
}