.top-bar{
    display : flex;
    margin : 35px 15px;
    justify-content: space-between;
    align-items: center; /*content아니고 items*/
}
.top-bar span{
    font-size : 25px;
    font-weight: 700;
}
.top-bar i{
    padding : 0 5px;
}

.top-bar_icon{
    position : relative;
}
.top-bar_notif-find{
    position: absolute;
    left : 65px; 
    bottom : 35px;
}
.top-bar_notif-more-bar{
    position: absolute;
    left : 95px; 
    bottom : 35px;
}

 /*a추가로 인한 i의 배열 조정*/
 .top-bar_icon a {
    display: inline-block;
}
.top-bar_icon a i{
    margin-left: -15px;
}