.chat-page {
    background-color: #ABC1D1;
}

.day_parents {
    display: flex;
    justify-content: center;
}
/*inline 요소가 된 day를 가운데 정렬 시키기 위해 부모가 필요*/

.day{
    color : white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;

    display: inline-block; 
  /*글자 크기만큼 div의 크기를 조정하기 위함*/
}