/* 참고 ':' 사용시 공백 여부에 따라 다르게 적용됨, 선택범위변화
    즉, _text:last-child와 _text :last-child가 지칭하는 것이 다를 수 있음
    정확히 이해하지 못했으나 요소를 기준으로 처음, 마지막을 보는건데
    요소가 지금 p 한가지기 때문에 좀 더 정확히 지칭하기 위해서는
    .head p:last-child를 사용할 수도 있음*/

.head{
    display : flex;
    flex-direction: column;
    text-align: center;
    padding : 70px 0;
}

.head_title{
    font-size: 25px;
}

.head_text{
    font-size: 15px;
    color : grey;
    /*줄변경 하는 방법*/
}

.login{
    display : flex;
    flex-direction: column;
    align-items: center;
   /*border을 여기에 적용하면 input이 아니라 form에 적용되는 것이다
   그리고 form은 원래 border을 갖고 있지 않음*/
}
.login input{
    border : none;
    padding : 20px 10px;
    width : 90%;
    margin-top : 15px;
}
.login input:not([type="submit"]){
    border-bottom : 1px solid rgb(163, 163, 163);
    outline:none; /*클릭했을 때 라운드 생기는거 없애고 싶음*/
    margin : 0;
    transition: border-color 0.3s ease-in-out;
}
/*input과 submit 사이에 간격을 벌리고 싶으면 div를 또 만들어야 할까?*/

a{
    display : flex;
    justify-content : center;
    /*justify-items는 안 됨 _ 
    이유는 flex 컨테이너에서는 적용이 안됨
    또는 <a> 안의 텍스트는 개별 요소가 아니라 하나의 inline 콘텐츠 덩어리*/
    margin : 20px;
}